[project]
	description = Minimal Linux container host
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rongrongqiu
[access "refs/for/refs/*"]
	read = group user/rongrongqiu
	push = group user/rongrongqiu
	label-Code-Review = -2..+2 group user/rongrongqiu
	label-Verified = -1..+1 group user/rongrongqiu
	rebase = group user/rongrongqiu
	removeReviewer = group user/rongrongqiu
	submit = group user/rongrongqiu
[access "refs/heads/*"]
	read = group user/rongrongqiu
	create = group user/rongrongqiu
	push = +force group user/rongrongqiu
	pushMerge = group user/rongrongqiu
[access "refs/tags/*"]
	push = +force group user/rongrongqiu
	pushTag = group user/rongrongqiu
	pushSignedTag = group user/rongrongqiu
